footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center; /* Center all elements */
    align-items: center;
    flex-wrap: wrap; /* Allow elements to wrap if necessary */
}

.footer-contact,
.footer-socials {
    margin: 0 20px; /* Add margin for spacing */
}

.footer-socials {
    direction: rtl; /* Right-to-left for social links */
}

.social-icon {
    margin-left: 10px; /* Add margin to the left for spacing */
}

.social-icon svg {
    width: 24px;
    height: 24px;
}
