header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
.logo {
    filter: invert(58%) sepia(61%) saturate(464%) hue-rotate(175deg) brightness(91%) contrast(90%);
    width: 70px;
    height: 70px;
    padding-left: 25px;
}
.header-middle-section{
    display: flex;
}
.element{
    padding-left: 20px;
    color: rgb(50, 98, 174);
    opacity: 0.7;
    transition: opacity 0.5s;
    font-size: 15px;
}

.element:hover{
    opacity: 1;
}

.header-right-section{
    padding-right: 25px;

}
.profile-button{
    background-color:rgb(50, 98, 174) ;
    border: none;
    color: white;
    width: 150px;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.profile-button:hover{
    background-color: white;
    color: rgb(50, 98, 174);
    font-weight: bold;
}