.home-section {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: #333; 
}

.sehatak {
    font-size: 50px;
    font-weight: 700; 
    text-align: center; 
    z-index: 2; 
    color: #007BFF; 
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); 
}

.home-left-section {
    width: 380px;
    padding-left: 120px; 
    font-size: 30px;
    font-weight: bold;
    color: #0056b3;
    z-index: 2; 
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.home-right-section {
    width: 600px;
    padding-top: 40px;
    font-size: 18px;
    color: #565b5f; 
    z-index: 2;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.element:hover {
    color: #0056b3; 
    transition: color 0.3s ease; 
}
