.home-section {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: #333; 
}

.home-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

.sehatak {
    font-size: 50px;
    font-weight: 700; 
    text-align: center; 
    z-index: 2; 
    color: #007BFF; 
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); 
}

.home-left-section {
    width: 380px;
    padding-left: 40px; 
    font-size: 30px;
    font-weight: bold;
    color: #0056b3;
    z-index: 2; 
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.home-right-section {
    width: 500px;
    padding-right: 40px; 
    font-size: 20px;
    color: #666; 
    z-index: 2;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.element:hover {
    color: #0056b3; 
    transition: color 0.3s ease; 
}
